aside {
  display: flex;
  flex-direction: row;
}

.carousel-wrapper{
  height:350px;
  position:relative;
  width:650px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
  right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
}

.light{
  color:white;
}

@media (max-width: 480px) {
  .arrow, .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background:url('../../img/2017-copacoB2B/WP_20170831_17_01_21_Rich.jpg');
  background-size:cover;
}
.item-2 {
  background:url('../../img/2017-copacoB2B/WP_20170831_17_01_30_Rich.jpg');
  background-size:cover;
}
.item-3{
  background:url('../../img/2017-copacoB2B/WP_20170831_20_26_51_Pro.jpg');
  background-size:cover;
}
.item-4{
  background:url('../../img/2017-copacoB2B/WP_20170831_21_19_45_Rich.jpg');
  background-size:cover;
}
.item-5 {
  background: url('../../img/2017-copacoB2B/WP_20170831_22_30_47_Rich.jpg');
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
  z-index: 3;
  opacity: 1;
}
